# macOS
.DS_Store

# LaTeX auxiliary files
*.out
*.aux
*.log
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.synctex.gz(busy)
*.toc
*.lof
*.lot
*.bbl
*.blg

# Build artifacts
dist/
jsonresume-doc.pdf

# IDE
.idea/
.vscode/
*.swp
*.swo
